* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Fonts */
    --font_montserrat: 'Montserrat', sans-serif;
    --font_poppins: 'Poppins', sans-serif;
    --font_heebo: 'Heebo', sans-serif;
    /* Colors */
    --color_gray_title: #333333;
    --color_sky_blue: #2D9CDB;
    --color_gray_paragraph: #4F4F4F;
    --color_gray_three: #828282;
    --color_gray_four: #BDBDBD;
    --color_gray_six: #F2F2F2;
    --color_green: #27AE60;
    --color_red: #EB5757;
    --color_white: #FFFFFF;
}

body {
    padding: 20px 10px 10px 10px;
    color: var(--color_gray_title);
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-family: var(--font_heebo);
    font-weight: 800;
}

.container_nav {
    font-family: var(--font_poppins);
    font-weight: 500;
}

.icon_bars {
    font-size: 24px;
}

.list_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.856);
    color: var(--color_gray_six);
    font-size: 20px;
    list-style-type: none;
}

.icon_close {
    font-size: 26px;
}

.item_list_nav:first-child {
    position: absolute;
    top: 30px;
    right: 11px;
}

/* Ocultar el nav */
.close_nav {
    display: none;
}